@charset "utf-8";
/*顶部*/
#topMenu{
	width:100%;
	height:36px;
	
	background:#f7f7f7;
	border-bottom:1px solid #eeeeee;
	font:12px/36px "";
	color:#969696;
}
#topMenu .top-content{
	width:1200px;
	margin:auto;
	height:36px;
}
#topMenu .top-content ul li{
	float:left;
	margin-right:10px;
}
#topMenu .top-content ul li a{
	display: block;
	color:#969696;
}
#topMenu .top-content ul li a:hover{
	color:#679800;
}
#topMenu .top-content ul .deliver{
	position: relative;
}
#topMenu .top-content ul .deliver:hover{
	background:#fff;
}
#topMenu .top-content ul .deliver .city{
	padding:10px;
	position: absolute;
	width:420px;
	border:1px solid #ccc;
	color:#333;
	z-index:2;
	background:#fff;
	display: none;
}
#topMenu .top-content ul .deliver .city .city-title{
	height:40px;
	border-bottom:1px solid #ccc;
}
#topMenu .top-content ul .deliver .city .city-title b{
	
	background: url(../img/index_icon_new.png) -245px -33px no-repeat;
    width: 18px;
    height: 18px;
    margin: 5px 0 0 0;
    cursor: pointer;
	
}
#topMenu .top-content ul .deliver .city .city-item ul li{
	float:left;
	width:38px;
	height:33px;
	line-height:33px;
	margin:0;
}
#topMenu .top-content ul .deliver .city .city-item ul li a{
	color:rgb(0,153,255)
}
#topMenu .top-content ul .deliver .city .city-item dl{
	width:100%;
	height:25px;
}
#topMenu .top-content ul .deliver .city .city-item dl dt{
	float:left;
	height:25px;
	line-height: 25px;
	text-align: center;
	
	
}
#topMenu .top-content ul .deliver .city .city-item dl dd{
	float:left;
	height:25px;
	line-height: 25px;
	text-align: center;
	margin:0 15px;
	
	
}
#topMenu .top-content .topL p{
	width:50px;
	height:22px;
	border:1px solid #dcdcdc;
	line-height:22px;
	text-align:center;
	margin-top:6px;
}
#topMenu .top-content .topR .four{
	width:70px;
	padding:0 2px;
	height:36px;
	
	text-align: center;
	
}
#topMenu .top-content .topR .my-choice{
	position: relative;
	
	width:70px;
	height:34px;
	line-height: 34px;
	text-align: center;
	
	
}
#topMenu .top-content .topR .my-choice:hover{
	border:1px solid #ccc;
	background:#fff;
}
#topMenu .top-content .topR .my-choice .choice{
	border:1px solid #ccc;
	position:absolute;
	top:35px;
	width:100%;
	background:#fff;
	color:#ccc;
	display: none;
	
	
}

#topMenu .top-content .topR .my-choice .choice ul li{
	width:100%;
	height:20px;
	
	font:9px/20px "";
	text-align:center;
}
#topMenu .top-content .topR .my-choice .choice ul li:hover{
	color:#669900;
}
#topMenu .top-content .topR .six{
	position:relative;
}
#topMenu .top-content .topR .six .move{
	width:229px;
	height:170px;
	border:1px solid #ccc;
	position: absolute;
	left:-82px;
	display: none;
	
}

#topMenu .top-content .topR .eight{
	position:relative;
}

#topMenu .top-content .topR .eight .navgation{
	width:600px;
	position: absolute;
	left:-550px;
	border: 1px solid #ccc;
	z-index: 2;
	background:#fff;
	display: none;
}
#topMenu .top-content .topR .eight .navgation dl{
	float:left;
	width:180px;
	padding:10px;
	
}
#topMenu .top-content .topR .eight .navgation dl dt{
	height:40px;
	font-weight: 700;
}

#topMenu .top-content .topR .eight .navgation dl dd{
	float:left;
	margin-right: 10px;
}
#topMenu .top-content .topR .nine{
	height:36px;
	
}
#topMenu .top-content .topR .nine b{
	float:left;
	width:19px;
	height:16px;
	margin:10px 5px 0 0;
	background: url(../img/header.png) no-repeat -55px 0;
	cursor: pointer;
}
#topMenu .top-content .topR .nine em{
	float:left;
	width:17px;
	height:16px;
	margin-top:10px;
	background: url(../img/header.png) no-repeat -74px 0;
	cursor: pointer;
}

























/*头部*/
#header{
	width:100%;
	height:104px;
}

#header .header-inner{
	width:1200px;
	height:100%;
	margin:auto;
	
}

#header .header-inner .header-logo{
	width:410px;
}
#header .header-inner .header-logo a{
	display: block;
}
#header .header-inner .header-logo .change{
	margin-top:14px;
	
}

#header .header-inner .header-search{
	width:510px;
	margin-left:28px;
}

#header .header-inner .header-search .search-input{
	width:407px;
	height:16px;
	padding:10px;
	border:1px solid #669900;
	margin-top:28px;
}
#header .header-inner .header-search .search-btn{
	display: inline-block;
	width:80px;
	height:38px;
	line-height:38px;
	text-align:center;
	color:#fff;
	background:#669900;
	margin-top:28px;
	cursor: pointer;
}
#header .header-inner .header-search a{
	color:#979797;
}
#header .header-inner .header-search a:hover{
	color:#669900;
}

#header .header-inner .header-cart{
	width:180px;
	height:32px;
	padding-left:16px;
	border:1px solid #979797;
	margin-top:28px;
	line-height: 32px;
}
#header .header-inner .header-cart a{
	margin-left:12px;
}
#header .header-inner .header-cart .number{
	display: inline-block;
	width:40px;
	height:32px;
	line-height:32px;
	text-align: center;
	background:#fa9600;
	color:#fff;
	
}